<head>
  <title>Codejudge</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/codejudge_django/">Codejudge</a>
      </div>
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
        <li><a href="/codejudge_django/problems">Problems</a></li>
        <li><a href="/codejudge_django/leaderboard/">Leader Board</a></li>
        <li><a href="/codejudge_django/submission/">Submissions</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username|capfirst }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/codejudge_django/account/">Account Settings</a></li>
            <li class="divider"></li>
            <li><a href="/codejudge_django/logout/">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <br><br><br><br>
  {% load codejudge_extras %}
  <!-- {{ request.get_full_path|split:"/" }} -->
