<title>Admin Panel</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/codejudge_django/admin_site/">Home</a>
      </div>
    </div>
  </nav>
  <br><br><br><br>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <center><h4>LOGIN</h4></center>
        <center>AHOY CAPTAINS !</center>
        <hr>
        {% if error %}
        <center>
        <span class="badge" style="background-color:#a00;">Not a captain! This demeanor will be reported.</span><br><br>
        </center>
        {% endif %}
        <form role="form" method="POST" action="/codejudge_django/admin_site/" >
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputUsername">Username</label>
            <input required type="text" class="form-control" id="exampleInputUsername" placeholder="Enter username" name="username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
          </div>
          <input type="submit" class="btn btn-primary" value="Login">
        </form>
        <hr>
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>